@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:100px">@Html.DisplayNameFor(n => n.ProductId)</th>
            <th style="width:100px">@Html.DisplayNameFor(n => n.Image)</th>
            <th>@Html.DisplayNameFor(n => n.Name)</th>
            <th style="width:100px">@Html.DisplayNameFor(n => n.Price)</th>
            <th style ="width:130px"></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.ProductId</td>
                    <td>
                        <img src="~/img/@item.Image" class="img-fluid" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a href="" class="btn btn-sm btn-primary">Edit</a> 
                        <a href="" class="btn btn-sm btn-primary">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
